<div class="main-container">
    <div class="container">
        <div class="title-section">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h3 class="link" [routerLink]="['/admin/gupshup/gupshup-dashboard']">
                        Usage
                    </h3> 
                </div>
                <div class="col-12 col-md-8">
                    <div class="float-end">
                        <h5>
                            AR Suites-Jewels Royale (Unit of Ahuja Residency Pvt. Ltd.)
                        </h5>
                        <p>Hotel ID: 27143</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-table-wrapper">
            <app-messages-breakup></app-messages-breakup>
        </div>
    </div>
</div>


