<h2 mat-dialog-title style="position: relative; padding-right: 50px;">
    Settings
    <button 
      mat-icon-button 
      mat-dialog-close 
      class="close-btn" 
      style="position: absolute; top: 50%; right: 0; transform: translateY(-50%);"
    >
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  
  <mat-dialog-content>
    <form [formGroup]="settingForm">
      <!-- Rupees Section -->
      <h3>Rupees</h3>
      <div class="row">
        <div class="col-6">
          <mat-label class="d-block">Plan</mat-label>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Ex: basic" formControlName="plan" readonly>
          </mat-form-field>
        </div>
  
        <div class="col-6">
          <mat-label class="d-block">Per Message Cost</mat-label>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Ex: 1" formControlName="rupeeMessageCost">
          </mat-form-field>
        </div>
  
        <div class="col-6">
          <mat-label class="d-block">Minimum Recharge Cost</mat-label>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Ex: 100" formControlName="rupeeMinRechargeCost">
          </mat-form-field>
        </div>
  
        <div class="col-6">
          <mat-label class="d-block">Minimum Alert Cost</mat-label>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Ex: 10" formControlName="rupeeMinAlertCost">
          </mat-form-field>
        </div>
      </div>
  
      <!-- Dollars Section -->
      <h3>Dollars</h3>
      <div class="row">
        <div class="col-6">
          <mat-label class="d-block">Per Message Cost</mat-label>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Ex: 1" formControlName="dollarMessageCost">
          </mat-form-field>
        </div>
  
        <div class="col-6">
          <mat-label class="d-block">Minimum Recharge Cost</mat-label>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Ex: 100" formControlName="dollarMinRechargeCost">
          </mat-form-field>
        </div>
  
        <div class="col-6">
          <mat-label class="d-block">Minimum Alert Cost</mat-label>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Ex: 10" formControlName="dollarMinAlertCost">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button (click)="addCredit()" color="primary" mat-flat-button mat-dialog-close>Update</button>
  </mat-dialog-actions>
  